.main {
  height: 100vh;
  padding: 32px;
  display: grid;
  grid-template-rows: 32px 1fr 32px;
  gap: 32px;

  box-sizing: border-box;
}

.main > *:nth-child(2) {
  align-self: center;
  justify-self: center;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}
