.container {
    $duration: 1000ms;
    padding: 8px;
    gap: 8px;
    border-radius: 12px;

    background-color: rgba($color: #fff, $alpha: 0);
    -webkit-transition: background-color $duration ease;
    -ms-transition: background-color $duration ease;
    transition: background-color $duration ease;

    &:hover {
        background-color: #dfdfdf;
    }
}
