.wrapper {
  width: 64px;
  height: 64px;
  margin: 0;
  background-color: var(--cellColor);
  display: grid;
  border-radius: 8px;
}
.cell {
  padding: 0;
  align-self: center;
  justify-self: center;
  width: 80%;
  height: 80%;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: var(--cellColor);
  font-size: 24px;
  color: var(--textColor);
  // font-weight: 700;

  &:hover {
    background-color: var(--cellHoverColor);
  }
}

.marked,
.marked:hover {
  background-color: var(--cellMarkedColor);
}

.active,
.active:hover {
  background-color: var(--cellActiveColor);
}
